@import "../../../styles/colors"


.item
    background-color: $whitePink
    position: relative
    display: block
    min-height: 450px
    border-radius: 5px
    margin: 10px 0px
    border: 1px solid $greyDark
    transition: all .2s ease-in-out
    opacity: 1

    img 
        width: 100%
        border-radius: 5px
        height: 380px
        object-fit: cover

    &-details


.item:hover
    opacity: 0.8