<header>
  <nav class="navbar">
    <a href="" class="navbar-logo" routerLink="/">
      <img src="assets/images/logo.png" alt="" />
    </a>
    <ul class="navbar-links">
      <li>
        <a [routerLink]="'/' + routeName[0]">{{ categories[0] }}</a>
      </li>
      <li>
        <a [routerLink]="'/' + routeName[1]">{{ categories[1] }}</a>
      </li>
      <li>
        <a [routerLink]="'/' + routeName[2]">{{ categories[2] }}</a>
      </li>
      <li>
        <a [routerLink]="'/' + routeName[3]">{{ categories[3] }}</a>
      </li>
    </ul>
  </nav>
</header>
