<header>
  <nav class="navbar">
    <ul class="navbar-links">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/electronics">Electronics</a>
      </li>
      <li>
        <a routerLink="/jewelery">Jewelery</a>
      </li>
      <li>
        <a routerLink="/clothing">Clothing</a>
      </li>
    </ul>

    <a href="" class="navbar-logo" routerLink="/"> Shop Direct </a>

    <div class="navbar-search">
      <form
        class="d-flex"
        role="search"
        #search="ngForm"
        (keyup)="onClickSubmit(search.value)"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="searchValue"
          ngModel
        />
        <button class="btn btn-outline-success" type="submit">
          <span class="material-icons">search</span>
        </button>
      </form>
    </div>
  </nav>
</header>
