@import "../../../styles/colors"

img
    max-width: 400px
    margin-bottom: 4rem

.details
    margin-top: 2rem
    display: flex
    flex-direction: column

    div 
        display: block
        padding: 1rem

    span 
        display: block

    &-head
        text-align: center
        margin-bottom: 10px
        &-title 
            font-weight: bold 
            font-size: 2rem
        &-price 
            font-size: 1.3rem

    &-more
        text-align: right
        font-size: 1rem
        &-rating
            font-weight: bold
            font-size: 1.1rem
            .material-icons 
                margin-right: 5px
                color: $gold
                font-size: 18px 
        