@import "../../../styles/colors"


h1 
    text-align: center
    font-size: 3rem
    font-weight: bold
    background: linear-gradient(to right, $black, $white)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent